body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: White;
}

.cd-logo, .instructions1, .instructions2 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FF9747;
  background-size: cover;
  min-height: 100%;
	
  background-attachment: fixed
}

.cd-logo {
  background-image: url("Akshi.jpg");
  min-height: 100%;
  background-size: auto;
}

h3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font: 60px "Lato", sans-serif;
  color: #79F6F0;
  text-align:center
}

.textSection {
  background-color:#642580;
  padding:50px 80px;
}

.instructions1{
	  background-image: url("s1.jpg");
  min-height: 100%;
  background-size: auto;
}

.instructions2{
  background-image: url("s2.jpg");
  min-height: 100%;
  background-size: auto;
}

.instagram{

}